<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Assignment</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="person">Person</a>
        </li>
        <li class="nav-item">         <!--relative path-->
          <a class="nav-link" routerLink="employee">Employee</a>
        </li>
      </ul>
    </div>

    

</nav>
  
<router-outlet></router-outlet>